:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-links a {
  border-radius: 40px;
  margin: 20px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  opacity: 0.8;
  color: #ffff;
}

.about-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.about-link:hover {
  background: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
}

.contact-info {
  font-size: 28px;
  color: var(--primary-color);
}

.navbar {
  margin-bottom: 30px;
}
.app-image {
  max-width: 100%;
  height: auto;
}
.app-info {
  text-align: left;
}

.app-info h2 {
  text-align: left;
  margin-bottom: 20px;
}

.launch-link {
  border-radius: 40px;
  display: flex;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  width: 250px;
}
@media (max-width: 574px) {
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    opacity: 0.7;
  }
  .app-image {
    display: none;
  }
  .app-info {
    text-align: center;
  }
  .app-info h2 {
    text-align: center;
    margin-top: -60px;
  }
  .launch-link {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
  }
  .weather-section {
    margin-top: 50px;
  }
  .yogurt-section {
    margin-top: -40px;
  }
  .contact-info {
    font-size: 18px;
  }
}
